<div class="container">
   <div class="row-fluid">
      <div class="span12 padding">
        <%= form_tag("/currentcar", :method => "PUT") do %>
       How much would you spend on a car monthly?<br><br>
        <input type="text" name="user['cost']" value=""><br><br>
         <button class="btn btn-inverse" type="submit">Next</button>
        <%end%>
      </div>
   </div>
</div>