<div class="container">
   <div class="row-fluid">
      <div class="span12 padding">
         <%= form_tag("/question5", :method => "PUT") do %>
            Is this <b><%=@user_info.name%></b> ? <br/>
            <label class="radio">
              <input type="radio" name="user[name]" value="yes" checked>
              Yes
            </label>
            <label class="radio">
              <input type="radio" name="user[name]" value="no" checked>
              No
            </label>
            <button class="btn btn-inverse" type="submit">Next</button>
        <%end%>
      </div>
   </div>
</div>