<div class="container">
   <div class="row-fluid">
      <div class="span12 padding">
      <%= form_tag("/question6", :method => "PUT") do %>
        Please indicate your name <br/><br/>
        Name  &nbsp;<input type="text" name="user[name]" value="" ><br/><br/>
        <button class="btn btn-inverse" type="submit">Next</button>
      <%end%>
      </div>
   </div>
</div>